@import "tailwindcss";

@layer components {
  @keyframes infislide {
    from {
      left: 100%;
    }
    to {
      left: calc(var(--width) * -1);
    }
  }

  @keyframes revslide {
    from {
      left: calc(var(--width) * -1);
    }
    to {
      left: 100%;
    }
  }

  .slider {
    @apply w-full h-(--height) my-4 overflow-x-hidden cursor-pointer;
  }

  .slider .list .item {
    @apply absolute left-full w-(--width) h-(--height) transition-all duration-300 ease-in-out;
    animation: infislide 10s linear infinite;
    animation-delay: calc(
      (10s / var(--quantity)) * (var(--pos) - 1)
    ) !important;
  }

  .list[reverse="true"] .item {
    animation: revslide 10s linear infinite;
  }

  .item img {
    @apply rounded-2xl w-full h-full object-cover;
  }

  .names {
    @apply text-3xl font-extrabold text-white;
  }

  .slider .list {
    @apply relative w-full;
    min-width: calc(var(--quantity) * var(--width));
  }

  .slider:hover .list .item h1 {
    @apply text-slate-400;
  }

  .slider .list .item:hover h1 {
    @apply text-white;
  }

  .slider:hover .list .item {
    animation-play-state: paused;
    filter: grayscale(1);
  }
  .slider .list .item:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }
}
